/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$arrow-down-name: 'arrow-down'
$arrow-down-x: 0px
$arrow-down-y: 28px
$arrow-down-offset-x: 0px
$arrow-down-offset-y: -28px
$arrow-down-width: 87px
$arrow-down-height: 44px
$arrow-down-total-width: 747px
$arrow-down-total-height: 2949px
$arrow-down-image: '../img/sprite.png'
$arrow-down: (0px, 28px, 0px, -28px, 87px, 44px, 747px, 2949px, '../img/sprite.png', 'arrow-down', )
$blue-link-name: 'blue-link'
$blue-link-x: 0px
$blue-link-y: 312px
$blue-link-offset-x: 0px
$blue-link-offset-y: -312px
$blue-link-width: 333px
$blue-link-height: 92px
$blue-link-total-width: 747px
$blue-link-total-height: 2949px
$blue-link-image: '../img/sprite.png'
$blue-link: (0px, 312px, 0px, -312px, 333px, 92px, 747px, 2949px, '../img/sprite.png', 'blue-link', )
$cash-1-name: 'cash-1'
$cash-1-x: 0px
$cash-1-y: 612px
$cash-1-offset-x: 0px
$cash-1-offset-y: -612px
$cash-1-width: 429px
$cash-1-height: 129px
$cash-1-total-width: 747px
$cash-1-total-height: 2949px
$cash-1-image: '../img/sprite.png'
$cash-1: (0px, 612px, 0px, -612px, 429px, 129px, 747px, 2949px, '../img/sprite.png', 'cash-1', )
$cash-2-name: 'cash-2'
$cash-2-x: 0px
$cash-2-y: 496px
$cash-2-offset-x: 0px
$cash-2-offset-y: -496px
$cash-2-width: 586px
$cash-2-height: 116px
$cash-2-total-width: 747px
$cash-2-total-height: 2949px
$cash-2-image: '../img/sprite.png'
$cash-2: (0px, 496px, 0px, -496px, 586px, 116px, 747px, 2949px, '../img/sprite.png', 'cash-2', )
$green-link-name: 'green-link'
$green-link-x: 0px
$green-link-y: 220px
$green-link-offset-x: 0px
$green-link-offset-y: -220px
$green-link-width: 332px
$green-link-height: 92px
$green-link-total-width: 747px
$green-link-total-height: 2949px
$green-link-image: '../img/sprite.png'
$green-link: (0px, 220px, 0px, -220px, 332px, 92px, 747px, 2949px, '../img/sprite.png', 'green-link', )
$hacks-title-name: 'hacks-title'
$hacks-title-x: 0px
$hacks-title-y: 1521px
$hacks-title-offset-x: 0px
$hacks-title-offset-y: -1521px
$hacks-title-width: 555px
$hacks-title-height: 323px
$hacks-title-total-width: 747px
$hacks-title-total-height: 2949px
$hacks-title-image: '../img/sprite.png'
$hacks-title: (0px, 1521px, 0px, -1521px, 555px, 323px, 747px, 2949px, '../img/sprite.png', 'hacks-title', )
$how-to-title-name: 'how-to-title'
$how-to-title-x: 0px
$how-to-title-y: 72px
$how-to-title-offset-x: 0px
$how-to-title-offset-y: -72px
$how-to-title-width: 552px
$how-to-title-height: 56px
$how-to-title-total-width: 747px
$how-to-title-total-height: 2949px
$how-to-title-image: '../img/sprite.png'
$how-to-title: (0px, 72px, 0px, -72px, 552px, 56px, 747px, 2949px, '../img/sprite.png', 'how-to-title', )
$iphone-name: 'iphone'
$iphone-x: 0px
$iphone-y: 1844px
$iphone-offset-x: 0px
$iphone-offset-y: -1844px
$iphone-width: 161px
$iphone-height: 461px
$iphone-total-width: 747px
$iphone-total-height: 2949px
$iphone-image: '../img/sprite.png'
$iphone: (0px, 1844px, 0px, -1844px, 161px, 461px, 747px, 2949px, '../img/sprite.png', 'iphone', )
$link-bg-blue-name: 'link-bg-blue'
$link-bg-blue-x: 0px
$link-bg-blue-y: 404px
$link-bg-blue-offset-x: 0px
$link-bg-blue-offset-y: -404px
$link-bg-blue-width: 333px
$link-bg-blue-height: 92px
$link-bg-blue-total-width: 747px
$link-bg-blue-total-height: 2949px
$link-bg-blue-image: '../img/sprite.png'
$link-bg-blue: (0px, 404px, 0px, -404px, 333px, 92px, 747px, 2949px, '../img/sprite.png', 'link-bg-blue', )
$link-bg-green-name: 'link-bg-green'
$link-bg-green-x: 0px
$link-bg-green-y: 128px
$link-bg-green-offset-x: 0px
$link-bg-green-offset-y: -128px
$link-bg-green-width: 332px
$link-bg-green-height: 92px
$link-bg-green-total-width: 747px
$link-bg-green-total-height: 2949px
$link-bg-green-image: '../img/sprite.png'
$link-bg-green: (0px, 128px, 0px, -128px, 332px, 92px, 747px, 2949px, '../img/sprite.png', 'link-bg-green', )
$logo-hacks-name: 'logo-hacks'
$logo-hacks-x: 0px
$logo-hacks-y: 892px
$logo-hacks-offset-x: 0px
$logo-hacks-offset-y: -892px
$logo-hacks-width: 169px
$logo-hacks-height: 158px
$logo-hacks-total-width: 747px
$logo-hacks-total-height: 2949px
$logo-hacks-image: '../img/sprite.png'
$logo-hacks: (0px, 892px, 0px, -892px, 169px, 158px, 747px, 2949px, '../img/sprite.png', 'logo-hacks', )
$logo-name: 'logo'
$logo-x: 0px
$logo-y: 741px
$logo-offset-x: 0px
$logo-offset-y: -741px
$logo-width: 164px
$logo-height: 151px
$logo-total-width: 747px
$logo-total-height: 2949px
$logo-image: '../img/sprite.png'
$logo: (0px, 741px, 0px, -741px, 164px, 151px, 747px, 2949px, '../img/sprite.png', 'logo', )
$phone-name: 'phone'
$phone-x: 0px
$phone-y: 0px
$phone-offset-x: 0px
$phone-offset-y: 0px
$phone-width: 26px
$phone-height: 28px
$phone-total-width: 747px
$phone-total-height: 2949px
$phone-image: '../img/sprite.png'
$phone: (0px, 0px, 0px, 0px, 26px, 28px, 747px, 2949px, '../img/sprite.png', 'phone', )
$smile-name: 'smile'
$smile-x: 0px
$smile-y: 1283px
$smile-offset-x: 0px
$smile-offset-y: -1283px
$smile-width: 238px
$smile-height: 238px
$smile-total-width: 747px
$smile-total-height: 2949px
$smile-image: '../img/sprite.png'
$smile: (0px, 1283px, 0px, -1283px, 238px, 238px, 747px, 2949px, '../img/sprite.png', 'smile', )
$swift-name: 'swift'
$swift-x: 0px
$swift-y: 1050px
$swift-offset-x: 0px
$swift-offset-y: -1050px
$swift-width: 241px
$swift-height: 233px
$swift-total-width: 747px
$swift-total-height: 2949px
$swift-image: '../img/sprite.png'
$swift: (0px, 1050px, 0px, -1050px, 241px, 233px, 747px, 2949px, '../img/sprite.png', 'swift', )
$top-bg-name: 'top-bg'
$top-bg-x: 0px
$top-bg-y: 2305px
$top-bg-offset-x: 0px
$top-bg-offset-y: -2305px
$top-bg-width: 747px
$top-bg-height: 644px
$top-bg-total-width: 747px
$top-bg-total-height: 2949px
$top-bg-image: '../img/sprite.png'
$top-bg: (0px, 2305px, 0px, -2305px, 747px, 644px, 747px, 2949px, '../img/sprite.png', 'top-bg', )
$spritesheet-width: 747px
$spritesheet-height: 2949px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-down, $blue-link, $cash-1, $cash-2, $green-link, $hacks-title, $how-to-title, $iphone, $link-bg-blue, $link-bg-green, $logo-hacks, $logo, $phone, $smile, $swift, $top-bg, )
$spritesheet: (747px, 2949px, '../img/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
